<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyOzone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
      </ul>

      <%= form_tag zipcode_path, :method => 'POST' do %>
      <div class="d-flex"> 
        <%= text_field_tag 'zipcode', nil, placeholder: "Search Zip Code", class: "form-control me-2", data: {turbo:"false"} %>
        <%= submit_tag 'Search', class: "btn btn-outline-light", data: {turbo:"false"} %>

       </div> 

       <% end %>








    </div>
  </div>
</nav>