<div class="container bg-secondary flex">

    <h1 class="display-4">My Air Quality App</h1>
    <h3>AQI: <%= @final_output %></h3>
    <p class="lead">This is the current Ozone air quality readout for my neighborhood</p>
    <hr class="my-4">
    <p>Reload to update the reading</p>
    <button class="btn btn-sm btn-success">Learn more</button>
    
</div>
</div>

<br>


